.userInfo {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }

  b {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
  }

  span {
    font-size: 16px;
    color: var(--color-success);
    font-weight: 500;
  }
}