:root {
  // Primary
  --primary-color : #fff4e2;
  --primary-color_strong : #efe6cb;
  --primary-color_stronger: #e7cda2;
  --primary-color_strongest: #ffd796;

  //Faint
  --color-faint_main: #f5f5f5;
  --color-faint_backround: #f2f2f2;

  // Success
  --color-success: #2ea83a;;
  --color-success-weak: #bff5e7;
  --color-success-weaker: #D8F9C8;;
  --color-success-strong: #008067;

  //Text
  --color-text-weak: #8e939d;
  --color-text-weaker: #a9b3c5;
  --color-text-weakest: #d4d6dc;

  //Misc
  --contained-color: #fff;
  --dark--text-color: #757068;

  //transitions
  --base-transition: .3s;

  //Border-radius
  --radius-xs: 2px;
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 15px;
  --radius-xl: 30px
}