:root {
  --primary-color : #fff4e2;
  --primary-color_strong : #efe6cb;
  --primary-color_stronger: #e7cda2;
  --primary-color_strongest: #ffd796;

  --contained-color: #fff;

  --dark--text-color: #757068;

  --base-transition: .3s;
}